.selects {
    float: left;
}
.search input {
    padding: 0 6px;
    width: 250px;
    height: 26px;
    border: 1px solid #ddd;
    vertical-align: top;
}
.boundInput a {
    display: inline-block;
    height: 12px;
    padding-top: 12px;
}
.error {
    display: inline-block;
    margin: 10px 10px 10px 105px;
    padding: 0 15px;
    width: 308px;
    line-height: 25px;
    border: 1px solid #ccc;
    background-color: #ffbfbf;
}